:root {
  --full-width: 45vw;
  --partial-width: 40vw;
  --full-height:100vh;
  --color-light: rgb(213,211,211);
  --color-white: #fff;
  --min-height-85vh: 85vh;
  --min-height-60px: 60px;
  --min-height48px: 48px;
  --color-bluelight: #3176B1;
  --color-blueauth: #5479A2;
  --color-gray: rgb(205,202,202,0.5);
  --color-bluelink: rgb(42,100,163);
  --font-wight600: 600;
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.inline-block {
  display: inline-block;
}

body {
  height: var(--full-height);
  background-color: var(--color-light);  
  margin: 0;
  padding: 0;
}

.min-height85 {
  /* min-height:var(--min-height-85vh) ; */
}

.center {
  display: center;
  margin-top: 30px;
  place-items: center;
}

.dflex-sb-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width {
  width: var(--full-width);
}

.min-height{
  min-height: var(--min-height-60px);
}

.min-height48{
  min-height: var(--min-height48px);
}

.login-gov {
  background-color: var(--color-white);
  width: 46%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.auth-text {
  background-color: var(--color-bluelight);
  color: black;
  height: 40px;
  font-size: large;
  line-height: 40px;
}

.font-sans {
  font-family: sans-serif;
}

.center > div {
  margin: 15px;
}

.xlg-text {
  font-size:x-large;
}

.line {
  width: 80%;
  height: 2px;
  background-color: #c9c4c4;
}

.lg-text {
  display: flex;

}

.font-strong{
  font-weight: bold;
}

.item-large {
  width: 300px;
  height: 30px;
}

.color-bluelight { 
  background-color: var(--color-bluelight);
}
.text-white {
  color: white;
}

.rounded{
  border-radius: 10px;
}
.no-border{
  border: none;
}

footer a{
  text-decoration: none;
}

